{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Dashboards</title>{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}"> 
{% include 'nav_bar.html' %}

<div class="first">
<h2>Online Appointment System</h2>
<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7011926932309102592?compact=1" height="399" width="710" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
<br>
<a class="weblinks" href="https://frontrunners.pythonanywhere.com/" target="_blank"><span>Website</span></a>

<a class="gitlinks" href="https://github.com/RijoeMathew/Online-Salon-Appointments" target="_blank"><span>Github</span></a>

</div>
{% endblock content %}