{% extends 'base.html' %}

{% load static %}
{% load active_link_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<ul>
    <li><a class="nav {% active_link 'homepage' strict=True %}" href="{% url 'homepage' %}">Home</a></li>
    <li><a class="nav {% active_link 'aboutpage' 'active' %}" href="{% url 'aboutpage' %}">About</a></li>
    <li><a class="nav {% active_link 'dashboardspage' 'active' %}" href="{% url 'dashboardspage' %}">Dashboards</a></li>

</ul>
{% endblock content %}