  .pic-slider {
    overflow: hidden;
    text-align: center;
    width: 100%;
  }
  

  .pic-slide-in {
    display: inline-block;    
    animation: pic-slide-in 3s forwards;
    height: fit-content;
  }

  @keyframes pic-slide-in {
    0% {
      transform: translateY(-200%);
    }
    50% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }


  .about-me-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
  }


  .about-me-right {
    opacity: 0;
    transform: translateX(200%);
    transition: opacity 0.5s, transform 0.5s;
  }
    
  

  .scroll {    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 20px;
      width: 18px;
      height: 18px;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      transform: rotate(-45deg);
    }
  }
  
  @keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
  
  @-webkit-keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }


  .name {   
    animation: name-scroll-down 2s forwards;
  }

  @keyframes name-scroll-down {
    0% {
      transform: translateY(-2000%);
    }
    50% {
        transform: translateY(-1000%);
      }
    100% {
        transform: translateY(0%);
      }
  }

