h1{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(9, 9, 34);
    color: white;
    width: auto;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;    
}

div.main{
    background-color: rgb(29, 28, 28);
    width: 500px;
    padding: 10px 100px 100px 100px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}

input{
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 10px 10px;
    background-color: grey;
    color: black;
    caret-color: black;
}

button{
    color: white;
    background-color: rgb(34, 63, 46);
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 15px 15px;
    margin-left: 10px;
}

button:hover{
    cursor: pointer;
}

#usermsghead{
    color: white;
    background-color: rgb(58, 34, 112);
    border-radius: 50%;
    border-style: solid;
    border-width: 0px;
    padding: 15px 15px;
    margin-right: 10px;
    height: 10px;
    width: 10px;
}

#aimsghead{
    color: white;
    background-color: rgb(116, 70, 18);
    border-radius: 50%;
    border-style: solid;
    border-width: 0px;
    padding: 15px 15px;
    margin-right: 10px;
    height: 10px;
    width: 10px;
}


@media (max-width: 600px) {

    div.main{
        top: 50px;
        padding-top: 5px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        width: 300px;
        margin-bottom: 50px;
    }
}